<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/users.css" />
    <title>Document</title>
</head>
<body>
    

<div class="row">
    <div class="div_form col-8 col-12-small">

    <form class="form" action="/multer" enctype="multipart/form-data" method="POST">
            <input class="input" type="text" placeholder="name" name="name">
        </div>
        
        <div class="input_file">
            <input class="file" type="file" name="file">
        </div>
        <ul class="actions">
            <li class="li"> <button class="btn" type="submit">Boss !</button>
            </li>
        </ul>
    </form>
        


</div>
        

<div class="box" id="two">
    <article class="article">

        <ul class="list">
            <% allUsers.map(e => { %>
                <li class="card">
                    <h1 class="card_name"><%= e.name %> </h1>
                    <img class="card_img" src=<%= e.filename %> alt="no img !" width="250"  >
                </li>
                <% }) %> 
            </ul>
    </article>
 </div>

            
            
        
</body>
</html>